@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-prose-body: rgb(134 239 172) !important;
  --tw-prose-headings: rgb(74 222 128) !important;
  --tw-prose-lead: rgb(134 239 172) !important;
  --tw-prose-links: rgb(74 222 128) !important;
  --tw-prose-bold: rgb(134 239 172) !important;
  --tw-prose-counters: rgb(134 239 172) !important;
  --tw-prose-bullets: rgb(134 239 172) !important;
  --tw-prose-hr: rgb(63 63 70) !important;
  --tw-prose-quotes: rgb(134 239 172) !important;
  --tw-prose-quote-borders: rgb(74 222 128) !important;
  --tw-prose-captions: rgb(161 161 170) !important;
  --tw-prose-code: rgb(134 239 172) !important;
  --tw-prose-pre-code: rgb(212 212 212) !important;
  --tw-prose-pre-bg: rgb(39 39 42 / 0.5) !important;
  --tw-prose-th-borders: rgb(63 63 70) !important;
  --tw-prose-td-borders: rgb(63 63 70) !important;
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
  html {
    color-scheme: dark;
  }
}

html {
  min-width: 360px;
}

.prose {
  @apply text-green-300;
}

.prose .anchor {
  @apply absolute invisible no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose a {
  @apply text-green-400 hover:text-green-300 transition-all underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-green-400;
  content: '#';
}

.prose pre {
  @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900 py-2 px-3 text-sm;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg bg-neutral-50 dark:bg-neutral-900;
}

..prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
  background-color: transparent;
}
.prose code span {
  @apply font-medium;
}

.prose img {
  @apply m-0;
}

.prose p {
  @apply my-4 text-green-300;
}

.prose h1 {
  @apply text-4xl font-medium tracking-tight mt-6 mb-2 text-green-400;
}

.prose h2 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2 text-green-400;
}

.prose h3 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2 text-green-400;
}

.prose h4 {
  @apply text-lg font-medium tracking-tight mt-6 mb-2 text-green-400;
}

.prose strong {
  @apply font-medium text-green-400;
}

.prose ul {
  @apply list-disc pl-6 text-green-300;
}

.prose ol {
  @apply list-decimal pl-6 text-green-300;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}
